html {
    background-color: whitesmoke;
}
body {
    margin: 0% 10% 0% 10%;
    padding:  2%;
    background-color: white;
    
}
a {
    color: white;
    background-color: black;
}
#img1 {
    display: block;
    width: 500px;
    filter: grayscale(1);
    align-content: center;
    animation: myAnimation1 4s;
}
@keyframes myAnimation1 {
    from {filter: brightness(100)}
    to {filter:brightness(0)}
    }
#img2 {
    display: block;
    width: 500px;
    filter: sepia(1);
    align-content: center;
    animation-name: example;
    animation-duration: 4s;
}
@keyframes example {
    from {width: 300%}
    to {width: 52%}
}
#img3 {
    display: block;
    width: 500px;
    filter: invert(1);
    align-content: center;
    animation-name: other;
    animation-duration: 4s;
}
@keyframes other {
    from {filter: grayscale(1)}
    to {filter: sepia(1)}
}