html {
    background: grey;
}
body {
    background: white;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 2px;
}
article {
    padding-left: 10%;
    padding-right: 10%;
}
p:hover {
    font-size: 400%;
    color: green;
}