.container {
    display: flex;
}
.container > div {
    font-size: 2vw;
    padding: .5em;
    color: white
}
.red {
    background-color: red;
    flex-grow: 1;
}
.green {
    background-color: green;
}
.blue {
    background-color: steelblue;
    width: 40vw;
}