body {
    width: 500px;
    margin: 0;
}
p {
    background-color: aqua;
    border: 3px solid blue;
    margin: 10px inherit;
}
span {
    background-color: indianred;
    border: 1px solid black;
}
.posicion1 {
    display: block;
    position: relative;
    top: 30px;
    left: 30px;
    background-color: yellow;
}