html {
    background: #e6e9e9;
    background-image: linear-gradient(270deg, rgb(230, 233, 233) 0%, rgb(216, 221, 221) 100%);
    -webkit-font-smoothing: antialiased;
}

body {
    background: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #545454;
    font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 1000px;
    padding-top: 1em;
    padding-bottom: 18em;
}
body nav {
    background: #474747;
    background-image: linear-gradient(3deg, #474747 0%, #6f6f6f);
    max-width: 1000px;
    padding: 1%;
    
}
body nav a {
    color:#fff;
    text-decoration: none;
}
body nav a:hover {
    background: #fff;
    color:#474747;
    padding: 3% 0% 3% 0%;
}
body nav li {
    display: inline;
    padding: 1%;
}
body nav li.open {
    text-decoration: underline;
}
body main ul.nav2 {
    max-width: 1300px;
    padding: 1% 0% 1% 0%;
    margin: 0;
}
body main ul.nav2 li {
    display: inline;
    text-decoration: none;
    font-size: 15px;
    padding: 0% 1% 0% 4%
}
body main ul.nav2 a{
    color: #575757;
    text-decoration: none;
    display: inline;
    max-width: 900px;
}
#open{
    text-decoration: underline;
}
body main ul.nav2 a:hover {
    background: #474747;
    color:#fff;
    padding: 1% 0% 1% 0%;
}
body section {
    max-width: 1000px;
    padding: 0 2em 0 2em;
}
ul.box li {
    text-decoration: none;
    display: inline;
    background-image: linear-gradient(3deg, #ffffff 0%, #f0f0f0f0);
    padding: 40px;
    object-position: center;
    float: left;
}
a.box {
    text-decoration: none;
    color: #474747;
}
a.box:hover {
    color:skyblue;
}
p {
    text-align: justify;
}
footer {
    clear:both;
    padding-top: 0em;
}
#ej1 {
    background: #fffde7;
    padding: 30px;
    border: solid #f9a825 10px;
    outline: solid green 20px;
    margin: 20px;
    color: #f9a825;
}
#ej11 {
    color: #f57f17;
}
#ej12 {
    text-decoration: none;
    color: #f9a825;
}
#ej12:hover {
    color:aqua;
}
#ej12:link {
    color:red;
}
#ej31 {
    border: solid 2px blue;
    margin: 1% 50% 1% 0%;
}
#ej32 {
    border: solid 2px green;
    margin: 1% 50% 1% 0%;
}
#ej33 {
    border-top: solid 2px blue;
    border-right: solid 2px green;
    border-bottom: solid 2px red;
    border-left: solid 2px grey;
    margin: 1% 50% 1% 0%;
}
#ej34 {
    border: dotted 2px #f9a825;
    margin: 1% 50% 1% 0%;
}
#ej41 {
    outline: solid #f9a825 3px;
    border: solid black 1px;
    margin: 1% 50% 1% 0%;
}
#ej42 {
    border: solid black 1px;
    outline: solid green 3px;
    margin: 1% 50% 1% 0%;
}
#ej43 {
    border: solid black 1px;
    outline: dotted #f9a825 3px;
    margin: 1% 50% 1% 0%;
}
#ej6 {
    background-image: url("https://image.freepik.com/vector-gratis/fondo-floral-acuarela-colores-suaves_52683-28620.jpg");
    padding: 10%;
    margin: 0% 35% 0% 0%;
}
#ej61 {
    background-color: orange;
    opacity: 40%;
    border: solid black 1px;
    margin: 1% 20% 1% 10%;
}