html {
    background: #e6e9e9;
    background-image: linear-gradient(270deg, rgb(230, 233, 233) 0%, rgb(216, 221, 221) 100%);
    -webkit-font-smoothing: antialiased;
}

body {
    background: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #545454;
    font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 1000px;
    padding-top: 1em;
    padding-bottom: 18em;
}
body nav {
    background: #474747;
    background-image: linear-gradient(3deg, #474747 0%, #6f6f6f);
    max-width: 1000px;
    padding: 1%;
    
}
body nav a {
    color:#fff;
    text-decoration: none;
}
body nav a:hover {
    background: #fff;
    color:#474747;
    padding: 3% 0% 3% 0%;
}
body nav li {
    display: inline;
    padding: 1%;
    font-size: 12px;
}
body nav li.open {
    text-decoration: underline;
}
body main ul.nav2 {
    max-width: 1300px;
    padding: 1% 0% 1% 0%;
    margin: 0;
}
body main ul.nav2 li {
    display: inline;
    text-decoration: none;
    font-size: 15px;
    padding: 0% 1% 0% 4%
}
body main ul.nav2 a{
    color: #575757;
    text-decoration: none;
    display: inline;
    max-width: 900px;
}
#open{
    text-decoration: underline;
}
body main ul.nav2 a:hover {
    background: #474747;
    color:#fff;
    padding: 1% 0% 1% 0%;
}
body section {
    max-width: 1000px;
    padding: 0 2em 0 2em;
}
ul.box li {
    text-decoration: none;
    display: inline;
    background-image: linear-gradient(3deg, #ffffff 0%, #f0f0f0f0);
    padding: 40px;
    object-position: center;
    float: left;
}
a.box {
    text-decoration: none;
    color: #474747;
}
a.box:hover {
    color:skyblue;
}
p {
    text-align: justify;
}
footer {
    clear:both;
    padding-top: 0em;
}
div.ej1 {
    border: solid black 5px;
    width: 60px;
    height: 60px;
    display: inline-block;
    text-align: center;
}
table.ej2 {
    border: 3px solid green;
    margin-bottom: 2%;
}
table.ej2 tr:first-child {
    text-align: center;
    font-size: bold;
    padding-left: 0%;
}
table.ej2 td {
    border: 1px solid green;
    width: 150px;
    height: 40px;
    padding-left: 3%;
}
table.ej2 tr {
    border: 1px solid green;
    width: 150px;
    height: 40px;
}
table#horario td {
    width: 150px;
    height: 60px;
    text-align: center;
}
table#horario tr:nth-child(odd) {
    background-image: linear-gradient(3deg, #999999 0%, #c5c5c5);
}
table#horario tr:first-child {
    background-image: linear-gradient(3deg, #474747 0%, #6f6f6f);
    color: white;
}
table#horario td:first-child {
    background-image: linear-gradient(3deg, #474747 0%, #6f6f6f);
    color: white;
    width: 60px;
    height: 60px;
}
div#ej4 {
    display: inline-block;
}
div#ej41 {
    border: 10px green solid;
    border-radius: 10px;
    width: 200px;
    height: 200px;
    display: inline-block;
    margin-right: 10%;
    margin-bottom: 10%;
}
div#ej42 {
    border: 10px green solid;
    border-radius: 30px;
    width: 200px;
    height: 200px;
    display: inline-block;
    margin-right: 10%;
    margin-bottom: 10%;
}
div#ej43 {
    border: 10px green solid;
    border-radius: 60px;
    width: 200px;
    height: 200px;
    display: inline-block;
    margin-bottom: 10%;
}
div#ej44 {
    border: 10px green solid;
    border-radius: 40px;
    width: 200px;
    height: 200px;
    display: inline-block;
    margin-right: 10%;
    margin-bottom: 10%;
}
div#ej45 {
    border: 10px green solid;
    border-radius: 5px;
    width: 200px;
    height: 200px;
    display: inline-block;
    margin-right: 10%;
    margin-bottom: 10%;
}
div#ej46 {
    border: 10px green solid;
    border-radius: 50px;
    width: 200px;
    height: 200px;
    display: inline-block;
    margin-bottom: 10%;
}div#ej47 {
    border: 10px green solid;
    border-radius: 200px;
    width: 200px;
    height: 200px;
    display: inline-block;
    margin-right: 10%;
}
div#ej48 {
    border: 10px green solid;
    border-radius: 9px;
    width: 200px;
    height: 200px;
    display: inline-block;
    margin-right: 10%;
}
div#ej49 {
    border: 10px green solid;
    border-top-right-radius: 60px;
    border-bottom-left-radius: 60px;
    width: 200px;
    height: 200px;
    display: inline-block;
}

