html {
    background: #e6e9e9;
    background-image: linear-gradient(270deg, rgb(230, 233, 233) 0%, rgb(216, 221, 221) 100%);
    -webkit-font-smoothing: antialiased;
}

body {
    background: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #545454;
    font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 1000px;
    padding-top: 1em;
}
body nav {
    background: #474747;
    background-image: linear-gradient(3deg, #474747 0%, #6f6f6f);
    max-width: 1000px;
    padding: 1%;
    
}
body nav a {
    color:#fff;
    text-decoration: none;
}
body nav a:hover {
    background: #fff;
    color:#474747;
    padding: 3% 0% 3% 0%;
}
body nav li {
    display: inline-block;
    padding: 3px;
    font-size: 14px;
}
body nav li.open {
    text-decoration: underline;
}
body main ul.nav2 {
    max-width: 1300px;
    padding: 1% 0% 1% 0%;
    margin: 0;
}
body main ul.nav2 li {
    display: inline;
    text-decoration: none;
    font-size: 15px;
    padding: 0% 2% 0% 2%
}
body main ul.nav2 a{
    color: #575757;
    text-decoration: none;
    display: inline;
    max-width: 1000px;
}
#open{
    text-decoration: underline;
}
body main ul.nav2 a:hover {
    background: #474747;
    color:#fff;
    padding: 0%;
}
body section {
    max-width: 1000px;
    padding: 0 2em 0 2em
}
p {
    text-align: justify;
}
footer {
    padding-top: 0em;
}
@media (max-width: 1000px) {
    body nav ul li{
     display: block;
     font-size: 16px;
 }
 body {
     font-size: 30px;
 }
 ul.box li {
    text-decoration: none;
    display: inline-block;
    background-image: linear-gradient(3deg, #ffffff 0%, #f0f0f0f0);
    width: 100px;
    height: 50px;
    margin: 0;
    text-align: center;
    object-position: center;
    font-size: 20px;
}
body main ul.nav2 a{
    color: #575757;
    text-decoration: none;
    display: inline-block;
    width: 175px;
    height: 50px;
}
#open{
    text-decoration: underline;
}
}