header {
    font-size: 20px;
}
p {
    font-size: 15px;
}
[name *=p] {
    background: red;
}
[name =p1] {
    background: orange;
}
[name *=p2] {
    background: yellow;
}
[name ^=p3] {
    background: green;
}
[name $=p4]{
    background: blue;
}
[name *=p5] {
    background: purple;
}